apiVersion: apps/v1
kind: Deployment
metadata:
  name: angular-bootstrap-starter-template
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: angular-bootstrap-starter-template
  template:
    metadata:
      labels:
        app: angular-bootstrap-starter-template
    spec:
      containers:
        - name: angular-bootstrap-starter-template
          image: deepaksorthiya/angular-bootstrap-starter-template:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: angular-bootstrap-starter-template-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: angular-bootstrap-starter-template
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30001
